$primary                 : #04AA6D;
$secondary               : #1890ff;

$active-border           : #40a9ff;

$light-grey              : #8c8c8c;
$dark-grey               : #3c3c3c;

$error                   : #ff4d4f;


$background              : #eff1ef;
$background-dark         : #282828;

$input-border-color      : #FF8760;

$text-dark               : #111111;
$text-light              : #eeeeee;


$black                   : #000000;
$white                   : #ffffff;

$scrollbar-thumb-bgc     : #626161;
$scrollbar-thumb-outline : #888787;

$sidebar-item-bgc        : #4199b5;
$sidebar-item-hover-bgc  : $black;
$sidebar-bgc             : #f9f9f9;


//---colors---//

$main-color              : #FFE0D7;
$hover-color             : #FFC4B3;
$text-color              : #282828;
$active-color            : #FF8760;
$star-color              : #FFB800;
$disabled-color          : #DFDFDF;
$error-color             : #D51A52;

