$font-weight-bold      : 700;
$font-weight-semi-bold : 600;
$font-weight-normal    : 500;


$font-size-base        : 16px !default;
$line-height-base      : 1.5 !default;

$line-height-h1        : 54px !default;
$line-height-h2        : 30px !default;
$line-height-h3        : 24px !default;
$line-height-h4        : 22px !default;

$h1-font-size          : $font-size-base * 2.75 !default;
$h2-font-size          : $font-size-base * 1.5 !default;
$h3-font-size          : $font-size-base * 1.25 !default;
$h4-font-size          : $font-size-base * 1.125 !default;
$h5-font-size          : $font-size-base * 1.25 !default;
$h6-font-size          : $font-size-base * 1.125 !default;


$h1-font-size-mobile   : $h1-font-size - 14;
$h2-font-size-mobile   : $h2-font-size - 7;
$h3-font-size-mobile   : $h3-font-size - 6;
$h4-font-size-mobile   : $h4-font-size - 6;

$subtitle-font-size    : $font-size-base * 1 !default;
$body-font-size        : $font-size-base * 1 !default;
$button-font-size      : $font-size-base * 1 !default;
$macro1-font-size      : $font-size-base * .75 !default;
$macro2-font-size      : $font-size-base * .75 !default;

$input-font-size:          $font-size-base  !default;


